#container, #buttonContainer, #firstRow, #secondRow, #thirdRow, #fourthRow, #fifthRow {
  display: flex;
}

#container {
  flex-direction: column;
  align-items: space-between;
  width: 320px;
  height: 450px;
  margin: 50px auto;
  background: linear-gradient(145deg, #f3a4a4, #ebc1c1);
  border-radius: 20px;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1),
    -10px -10px 30px rgba(255, 255, 255, 0.8);
  padding: 10px;
  font-family: "Arial", sans-serif;
}

#display {
  background-color: #f8f9fa;
  width: auto;
  height: 60px;
  margin: 15px 0;
  padding: 10px;
  text-align: right;
  font-size: 1.8rem;
  border: none;
  border-radius: 10px;
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.05),
    inset -5px -5px 10px rgba(241, 64, 64, 0.8);
  overflow: hidden;
}

#buttonContainer {
  flex-direction: column;
}

button {
  margin: 3px;
  background: linear-gradient(145deg, #f0f0f0, #e6e6e6);
  border: none;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  padding: 20px;
  transition: all 0.2s ease;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1),
    -5px -5px 10px rgba(242, 122, 122, 0.8);
  flex: 1;
}

button:hover {
  background: linear-gradient(145deg, #e6e6e6, #f0f0f0);
  transform: translateY(-2px);
}

button:active {
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.1),
    inset -5px -5px 10px rgba(255, 255, 255, 0.8);
  transform: translateY(0);
}

.operator, #equalsTo, #clear, #delete {
  background: linear-gradient(145deg, #ec6b7c, #c8d0e0);
}

.operand {
  color: #333;
}


 
